<h1>Where Do I Spend</h1>

<% if user_signed_in? %>
  <div>Welcome back <%= current_user.name %></div>
<% else %>
  <%= link_to "Log in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>